<ion-content>
    <div style="text-align: left !important;"><ion-text class="in-title">Espace personnel</ion-text></div>
    <div style="text-align: right !important;"><ion-icon name="home" [routerLink]="['./../task']"></ion-icon></div>
    <form style="padding: 25px" *ngIf="form" style="text-align: center" [formGroup]="form" (ngSubmit)="onUpdate()">
        <br>
        <ion-item>
            <ion-input style="border: 1px grey solid;" formControlName="email" type="email"></ion-input>
        </ion-item>
        <ion-item *ngIf="user.newsletter === false" lines="none">
            <ion-checkbox formControlName="newsletter"></ion-checkbox>
            <ion-text class="in-form" style="padding: 10px; font-size: 15px">Newsletter : reçois chaque mois des atuces pour simplifier ta vie
            </ion-text>
        </ion-item>
        <br>
        <ion-button color="primary" type="submit" [disabled]="form.pristine || form.invalid">Enregistrer</ion-button>
        <br>
        <ion-text *ngIf="form.dirty && form.controls.email.invalid">Le format d'e-mail n'est pas valide.</ion-text>
        <ion-text *ngIf="success">Informations mises à jour</ion-text>
    </form>
  <div style="text-align: center">
      <br><br>
    <a style="color: red" (click)="onDelete()">Supprimer mon compte (définitif)</a>
  </div>
    <br><br>
    <ion-icon name="mail" (click)="onSend()"></ion-icon>
</ion-content>
