
<!--  <ion-button [routerLink]="['perso']">Espace personnel</ion-button>-->

<!--  <ion-button (click)="onLogout()">Se déconnecter</ion-button>-->

<!--  <ion-button [routerLink]="['path']">test (to path)</ion-button>-->

<!--  <ion-button [routerLink]="['task']">test (to task)</ion-button>-->

  <ion-button (click)="toPerso()">Espace personnel</ion-button>

  <ion-button (click)="onLogout()">Se déconnecter</ion-button>

  <ion-button (click)="toPath()">test (to path)</ion-button>

  <ion-button (click)="toTask()">test (to task)</ion-button>


