<ion-content style="border: orange 1px solid; padding: 10px;">

<div
        *ngFor="let path of paths"
        style="text-align: left; padding: 8px; font-size: smaller"
        [style.background]="path === selectedPath ? 'orange' : ''"
        (click)="onSelect(path)">
  <ion-icon size="small" name="caret-forward-outline"></ion-icon>
  {{path.pathName}} :
  {{path.pathShortDescription}}
  <ion-text *ngIf="path.pathLongDescription" (click)="presentPopover($event, path)">[+]</ion-text>
</div>
</ion-content>
<ion-button color="secondary" (click)="onStart()" [disabled]="!selectedPath">Commencer à désencombrer </ion-button> {{selectedPath?.pathName}}
