<ion-content
        style="border: orange 1px solid;
        padding: 15px;"
>
    <ion-item lines="none" *ngIf="hasTask === false">
        <div>
            {{noTaskText}}
            <br>
            <ion-button [routerLink]="['/dashboard/path']">Voir les parcours</ion-button>
        </div>
    </ion-item>
    <ion-item lines="none" *ngIf="hasTask === true">
        <ion-text style="text-align: left; padding-top: 10px">
            <!--    {{title}}-->
            <!--    <br><br>-->

                {{task.taskName}}
                <br><br>
                {{task.taskShortDescription}}
                <br><br>
                <div *ngIf="task.taskLongDescription">
                    plus de conseils
                    <ion-icon style="font-size: 25px" name="add-circle" (click)="presentPopover($event)"></ion-icon>
                </div>
        </ion-text>
    </ion-item>
</ion-content>

