<!--<ion-app>-->
  <ion-content>
    <img src="./assets/illustrations/headlog.png">
    <ion-title>30 jours pour désencombrer</ion-title>
    <form style="text-align: center" [formGroup]="form" (ngSubmit)="onSignup()">
      <br>
      Inscription
      <br><br>
      <ion-item>
        <ion-input formControlName="username" placeholder="Identifiant" type="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input formControlName="password" placeholder="Mot de passe" type="password"></ion-input>
      </ion-item>
      <ion-item>
        <ion-checkbox formControlName="newsletter"></ion-checkbox>
        <ion-text style="padding: 10px; font-size: 15px">Newsletter : reçois chaque mois des atuces pour simplifier ta vie</ion-text>
        </ion-item>
      <ion-button color="primary" type="submit" [disabled]="form.invalid">S'inscrire</ion-button>
    </form>
    <div style="text-align: left; font-size: 13px">
      <ion-text *ngIf="form.dirty && form.controls.username.invalid">Le format d'e-mail n'est pas valide.</ion-text>
      <br>
      <ion-text *ngIf="form.controls.password.invalid && form.dirty">Le mot de passe doit contenir au moins 8 caractères dont 1 majuscule, 1 minuscule, 1 chiffre et 1 caractère spécial (@#!&$). Les caractères accentués ne sont pas autorisés.</ion-text>
    </div>
    <div style="text-align: center; padding-top: 25px">
      <ion-button [routerLink]="['./..']" color="tertiary">J'ai déjà un compte</ion-button>
    </div>
  </ion-content>
<!--</ion-app>-->
